<!-- So I've Got a Question: Blog Page -->
<!doctype html>
<html lang="en">
    <!-- A set of metadata for the website. -->
    <meta charset="UTF-8">
    <meta name="description" content="A platform to help human beings and animals coexist">
    <meta name="author" content="Kareem Taleb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>

    </head>
    <body>
        <!-- Wrapper for the website blog page. -->
        <div>

        </div>
    </body>
</html>