<!-- So I've Got a Question: Home Page -->
<!doctype html>
<html lang="en">
    <!-- A set of metadata for the website. -->
    <meta charset="UTF-8">
    <meta name="description" content="A platform to help human beings and animals coexist">
    <meta name="author" content="Kareem Taleb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>So I've Got a Question.</title>
    </head>
    <body>
        <!-- Wrapper for the website home page. -->
        <div>
            <div>
                <!-- The navigation bar. -->
                <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #336B87">
                    <!-- W.I.P. Logo of Non-profit. Click leads to home page a.k.a. this page. -->
                    <a class="navbar-brand" href="#">
                        Image
                    </a>
                    <!-- W.I.P. Contains the proper navigation. Includes the blog, forum, about us, and Login/Signup buttons. -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Learn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Forum</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#"class="nav-link dropdown-toggle" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="#" class="dropdown-item">FAQ</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Contact Us</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="m-auto">
                        <li class="navbar-text">
                            <p class="text-white" style="font-style: italic">A Platform to Help Human Beings and Animals Coexist.</p>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">                  
                        <li class="nav-item">
                            <a href="#" class="nav-link">Login/Sign-Up</a>
                        </li>   
                    </ul>
                </nav>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>