<!-- So I've Got a Question: Home Page -->
<!DOCTYPE html>
<html lang="en">
    <!-- A set of metadata for the website. -->
    <meta charset="UTF-8">
    <meta name="description" content="A platform to help human beings and animals coexist">
    <meta name="author" content="Kareem Taleb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'SIGAQ/home.css' %">
        <title>So I've Got a Question.</title>
    </head>
</html>